:root {
    /* carte avec 2 lignes */
    --md-admonition-icon--defn: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512px" height="512px"><path fill-rule="evenodd" d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25V4.75zm1.75-.25a.25.25 0 0 0-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V4.75a.25.25 0 0 0-.25-.25H1.75z"/><path fill-rule="evenodd" d="M5 8.75A.75.75 0 0 1 5.75 8h11.5a.75.75 0 0 1 0 1.5H5.75A.75.75 0 0 1 5 8.75zm0 4a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1-.75-.75z"/></svg>');
    /* ampoule */
    --md-admonition-icon--prop : url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="512px" height="512px"><path fill-rule="evenodd" d="M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 01-1.484.211c-.04-.282-.163-.547-.37-.847a8.695 8.695 0 00-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.75.75 0 01-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75zM6 15.25a.75.75 0 01.75-.75h2.5a.75.75 0 010 1.5h-2.5a.75.75 0 01-.75-.75zM5.75 12a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5z"></path></svg>');

    /* Déclarations des couleurs utilisées*/
    --color-DeepSkyBlue : #00A5FF; /*rgb(43, 155, 70)
    /*--color-ElectricPurple : #A500FF;*/
    /*--color-DeepSkyBlue : #00A5FF;*/

    --color-defn : var(--color-DeepSkyBlue);
}


/* début définition */

.md-typeset .admonition.définition,
.md-typeset details.définition {
	border-color: --color-defn;
}
.md-typeset .définition> .admonition-title,
.md-typeset .définition> summary{
 	background-color: rgba(--color-defn,0.1);
	border-color: rgb(--color-defn);
}
.md-typeset .définition> .admonition-title::before,
.md-typeset .définition> summary::before {
	background-color: rgb(--color-defn);
	-webkit-mask-image: var(--md-admonition-icon--defn);
          mask-image: var(--md-admonition-icon--defn);}

.md-typeset .définition .tabbed-set > input:checked + label {
	color : rgb(--color-defn);
	border-color : rgb(--color-defn);
}
.md-typeset .définition .tabbed-set > input:not(.focus-visible) + label:hover{
	color : rgb(--color-defn);
}

/* fin définition */
